<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/header-nav.css">
  <link rel="stylesheet" href="/stylesheets/prontuario.css">
  <title>Agendamento</title>
</head>

<body>
  <%-include('./partials/header')%>

    <main>
      <div class="campo-nome-botao">
        <span class="usuario-logado">Olá, <%= usuarioLogado %></span>
        <a href="/agendamento/sair" class="botao-sair">Sair</a>
      </div>
      <a class="menu-inicial" href="/agendamento">Voltar ao menu inicial</a>
      <section class="campo-acoes">
        <span class="nome-cliente">Cliente: <%= nome %></span>
        <div>
          <div>
            <table>
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Dia</th>
                  <th>Procedimento</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <% agendamentos.map(agendamento=>{ %>
                  <tr>
                    <td>
                      <%= agendamento.data_agendamento.toLocaleDateString() %>
                    </td>
                    <td>
                      <% if(agendamento.data_agendamento.getDay()==1){ %>
                        Segunda-feira
                        <% } %>
                          <% if(agendamento.data_agendamento.getDay()==2){ %>
                            Terça-feira
                            <% } %>
                              <% if(agendamento.data_agendamento.getDay()==3){ %>
                                Quarta-feira
                                <% } %>
                                  <% if(agendamento.data_agendamento.getDay()==4){ %>
                                    Quinta-feira
                                    <% } %>
                                      <% if(agendamento.data_agendamento.getDay()==5){ %>
                                        Sexta-feira
                                        <% } %>
                    </td>
                    <td>
                      <%= agendamento.nome%>
                    </td>
                    <td>
                      <a class="botao-alterar" href="/agendamento/alterar/<%=agendamento.id_agendamento%>">Alterar</a>
                      <form action="/agendamento/apagar/<%=agendamento.id_agendamento%>?_method=delete" method="post">
                        <button class="botao-cancelar" type="submit">Cancelar</button>
                      </form>
                    </td>

                  </tr>
                  <% }) %>

              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
</body>

</html>